body {
	background-color: purple;
	margin: 1em;
}
.invitation {
	background-color: white;
	color: purple;
	font-family: cursive;
	font-size: 18px;
	text-align: center;
	width: 500px;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
}
.invitation p {
	margin-bottom: 0;
}
img.rabbit {
	margin: auto;
	display: block;
	padding: 30px;
	width: 400px;
}